* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    margin-top: 5vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}